<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container-fluid">
      <img src="../assets/BRO!.png" alt="" id="nav-img">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>   
        </ul>
        <form class="d-flex">
          
          <button class="btn btn-outline-danger"  (click) = "logout()">Log Out</button>
        </form>
      </div>
    </div>
  </nav>



<div class="container">
    <div class="header">
        <div class="form-control">
            <!--Search functionality-->
            <input type="text" class="form-control" placeholder="Search text here..."[(ngModel)]="filter" >
        </div>
        <!--
            [] --- property binding
            () --- event binding 
            ([])--- banana box for event and property --([ngModel])
        -->
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="card" *ngFor= "let emp of bookService.books |filter: filter ">
            <div class="card-body">
              <h5 class="card-title">Book Id :  {{emp.BookId}}</h5>
              <h5 class="card-title">Book Name :  {{emp.BookName}}</h5>
              <p class="card-text">Author name : {{emp.AuthorName}}</p>
              <p class="card-text">Publication name : {{emp.PublicationName}}</p>
              <p class="card-text">Genre Name : {{emp.GenreName}}</p>
              <a href="#" class="btn btn-primary" [routerLink] = "'/memberview'">Go to member</a>
            </div>
          </div>
        </div>
    </div>
</div>
